.parent-div .trader-info-div{
    border:1px solid #eee;
    min-width: 30%;
    .sub-div2{
        margin: 14% 3% 0 3%;
   // border: 1px solid #bcd6ee;
    background-color: #eeeeee6b;
    display: flex;
    text-align: center;
    // justify-content: center;
    align-items: center;
    height: 20%;
    select{
        width: 56%;
        height: 20px;
        max-width: 54%;
    }
    label{
    margin-left:2%;
    max-width: 42%;
    margin-right: 2%;
    }
    }
}

.trader-info-div h3{
    background-color: #BCD6EE;
    font-weight: 500;
    margin: 0;
    border-bottom: 2px solid #bab7b6;
    text-align: center;
}
.trader-info-div .sub-div{
    margin: 10% 5% 0 10%;
}

.trader-info-div .sub-div span:first-of-type{
    margin-right: 10%;
    margin-left: 10%;
}
.trader-info-div .sub-div div{
    display: flex;
}

.trader-info-div .sub-div div label{
    min-width: 25%;
    font-weight: 500;
    max-width: 20%;
}