.list-trader-games-div{
    // border:1px solid #eee;
     // width: 60%;
     min-width: 30%;
     // margin-left: 20%;
     display: flex;
     flex-direction: column;
     .table-div{
         height: 100%;
         padding-left: 5%;
         padding-right: 5%;
     }
     table{
     border: 1px solid #eee;
     border-spacing: 0;
      margin: 2%;
     display: flex;
     flex-direction: column;
     height: 250px;
     overflow: auto;
     thead{
         tr{
            // background-color: #BCD6EE;
             th{
                 width: 23%;
             }
         }
     }
     tbody{
         td{
             text-align: center;
             width: 23%;
             label {
                 i{
                     font-size: 22px;
                     margin-right: 2%;
                 }
             }
             }
         }
     tr{
     display: flex;
     flex-direction: row;
         }
     }
     .join-game-btn{
       // max-width: 59%; 
        background-color: #A62436;
        color: white;
        border: none;
        /* padding: 3px; */
        height: 24px;
        width: 55px;
        cursor: pointer;
        /* margin-top: 9%; */
        /* margin-left: 53%;*/
    }
 }
