.parent-div .pl-chart-div {
 // border: 1px solid #eee;
 // width: 50%;
 // min-width: 40%;
 // margin-left: 25%;
}
.pl-chart-div h3 {
  background-color: #bcd6ee;
  font-weight: 500;
  margin: 0;
  border-bottom: 2px solid #bab7b6;
  text-align: center;
}
.pl-chart-div canvas {
  background-color: black;
  padding-top: 6px;
}
