.main-div-orderEntry{
margin-bottom: 1%;
margin-top: 4%;
}
.parent-div{
    display:flex;
    flex-direction: row;
    /* border:2px solid black; */
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.news-ribbon{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}